.App {
    font-family: sans-serif;
    text-align: center;
}

// Cuerpo del calendario
.react-datepicker {
    border-radius: 35px !important;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2) !important ;
    border: none !important;

}

.react-datepicker__day--keyboard-selected {
    background-color: #468DAD !important;
}

//Posicion de las flechas
.react-datepicker__navigation {
    &--previous {
        left: 10px;
    }
    &--next {
        right: 10px;
    }
}

// Color de las flechas
.react-datepicker__navigation-icon::before {
    border-color: hsl(200, 77%, 36%) !important;
    margin: 8px -5px 0px -5px;
}

// Input
.react-datepicker__input-container input {
    border: 1px solid #1572a1;
    box-sizing: border-box;
    border-radius: 32px;
    color: #1572a1;
    padding: 0.3rem 0rem 0.3rem 1.4rem;
    width: 7rem;
    cursor: pointer;
}

// Pone la primera letra en mayuscula
// No importa el idioma que se escoja
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker__day-names,
.react-datepicker-year-header {
    margin-top: 0;
    font-size: 0.9rem;
    text-transform: capitalize;
}

.react-datepicker__navigation-icon {
    border-color: none;
}

// Modifica el estilo de "select" del mes y del año
.react-datepicker__year-select,
.react-datepicker__month-select {
    border: 1px solid #1572a1;
    box-sizing: border-box;
    border-radius: 32px;
    color: #1572a1;
    padding: 0.1rem 0rem 0.1rem 0.4rem;
    text-transform: capitalize;
}

// Diseño de los dias
.react-datepicker__day {
    cursor: pointer;
    &:hover {
        border-radius: 0.3rem;
        background-color: #f0f0f0;
    }
    &--today {
        &:hover {
            background-color: #DBDBDB;
        }
        font-weight: bold;
        background-color: #f0f0f0;
        border-radius: 0.3rem;
    }
}
.react-datepicker__triangle {
    transform: translate(100px, 0px) !important;
    position: relative !important;
    &::after {
        border-bottom-color: white!important;

    }
    &::before {
        border-bottom-color: white!important;

    }
}
// Header
.react-datepicker__header {
    background-color: transparent !important;
}
.react-datepicker-popper {
    position: relative !important;
    transform: translate(0px, 0px) !important;
}
.react-datepicker__current-month {
    padding: 10px 10px;
}
#root {
    text-align: center !important;
}